[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.template.temperatureconverter
Exec=/usr/bin/ru.template.temperatureconverter
Name=Temperature Converter
Name[ru]=Конвертер

[X-Application]
Permissions=
OrganizationName=ru.template
ApplicationName=temperatureconverter
ExecDBus=/usr/bin/ru.template.temperatureconverter
